html, body {
        height: 100%;
        width: 100%;
        background-color: #eee;
        color: #333;
        font-family: Impact, Haettenschweiler', sans-serif';
      }

body {
        border-style: solid;
        border-color: black;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-right-width: 1px;
        margin-left: 8px;
        font-family: Haettenschweiler, 'sans-serif';
      }
      
h1 {
        display: block;
        font-weight: bolder;
        font-size: 50px;
        font-family: Impact, Haettenschweiler', sans-serif';
        color: hotpink;
        border-bottom: dotted rgb(194, 63, 128) 7px;
        margin-left: 8px;
        margin-right: 8px;
        
      }
h2 {
        font-family: Haettenschweiler, 'sans-serif';
        
        margin-left: 8px;
        margin-right: 8px;
      }
      
.job-title {
        font-family: Haettenschweiler, 'sans-serif';
        color: #666464;
        font-weight: bold;
        font-size: 18px;
        margin-left: 8px;
        margin-right: 8px;
      }

p{
        margin-right: 8px;
        margin-left: 8px;
        font-family: Arial, Helvetica, sans-serif;
}

.contact-details{
        border-style: solid;
        border-color: rgb(194, 63, 128);
        border-bottom-width: 4px;
        border-top-width: 4px;
        border-bottom-width: 4px;
        border-left-width: 4px;
        border-right-width: 4px;
        margin-right: 8px;
        margin-left: 8px;
        font-family: Haettenschweiler, 'sans-serif';
        font-size: medium;
        padding-top: 3px;
        padding-bottom: 3px;
}
#email {
        color: green;
        text-decoration-line: none;
}

#web {
        color: red;
        text-decoration-line: none;
}